/* create grid */
.container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
}

.header {
    grid-row:1;
}

.sidebar,
.header,
.content {
    border:1px solid black;
}

/* create grid within sidebar */

.sidebar {
    display:grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:2rem;
}

.first > div,
.sidebar > .second > div, 
.sidebar > .third > div {
    margin: 0.5rem;
}