/* create grid */
.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
    height:100vh;
    margin:0;
    padding:0;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
    padding:1em;
}

.header {
    grid-row:1;
    padding:1em;
    padding-right:3em;
}

.sidebar,
.header,
.content {
    border:1px solid black;
}

/* create grid within sidebar */

.sidebar {
    display:grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:2rem;
}

.first > div,
.sidebar > .second > div, 
.sidebar > .third > div {
    margin: 0.5rem;
}

/* create grid within header */

.header {
    display:grid;
    grid-template-rows: 1fr 1.5fr;
}

.firstrow {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.searchbar {
    grid-column:1/span 2;
    display:flex;
    padding-right:25%;
    align-items: center;
}

.searchbar > input {
    flex:auto;
    height: 1em;
}

.profile {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.secondrow {
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.status {
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.tabs {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:flex-end;
    align-items: center;
}

/* create grid for content */

.content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding:1em;
    padding-top:1.5em;
    gap:1em;
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:1.5em;
}

.middle {
    display:grid;
    grid-template-rows: 1em auto;
}

.middle > .cards > .card {
    border: 2px solid black;
    height: 12em;
}

.right-sidebars {
  display:grid;
  grid-template-rows:1fr 1fr;
}

.announcements > .information,
.trending > .contacts {
    display:grid;
    height:90%;
    grid-template-rows: repeat(auto-fit,1fr);
}

.information > .card,
.contact {
    border: 1px solid black;
}

/* styling */
@font-face {
    font-family: "Gotham";
    src: url('fonts/GothamMedium.ttf');
    font-weight:normal;
    font-style:normal;
}

html {
    font-family: 'Gotham';
}

img {
    height:1em;
}

.sidebar > div > div {
    display:flex;
    align-items: center;
}

body {
    margin:0;
}
