/* create grid */
.container {
    display:grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4.5fr;
    height:100vh;
    margin:0;
    padding:0;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
    padding:1em;
}

.header {
    grid-row:1;
    padding:1em;
    padding-right:3em;
    gap:1em;
    padding-left:3em;
}

.sidebar,
.header,
.content {
    border:1px solid black;
}

/* create grid within sidebar */

.sidebar {
    display:grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:2rem;
}

.first > div,
.sidebar > .second > div, 
.sidebar > .third > div {
    margin: 0.5rem;
}

.sidebar > .second > div, 
.sidebar > .third > div {
    margin:1rem;
}

.second > div,
.third > div {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1em;
}

/* create grid within header */

.header {
    display:grid;
    grid-template-rows: 1fr 1.5fr;
}

.firstrow {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.searchbar {
    grid-column:1/span 2;
    display:flex;
    padding-right:25%;
    align-items: center;
    gap:0.5em;
}

.searchbar > input {
    flex:auto;
    height: 1em;
}

.profile {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.notifications {
    justify-self: flex-end;
}

.profilepicture {
    justify-self: center;
}

.secondrow {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.status {
    grid-column: 1/3;
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:2em;
}

.tabs {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    gap:2em;
}

/* create grid for content */

.content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding:1em;
    padding-top:1.5em;
    gap:1em;
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:1.5em;
}

.middle {
    display:grid;
    grid-template-rows: 1em auto;
    gap:1em;
}

.middle > .cards > .card {
    height: auto;
    padding:2.5em 1.5em;
}

.right-sidebars {
  display:grid;
  grid-template-rows:1fr 1fr;
  gap:1em;
}

.announcements,
.trending {
    display:grid;
    grid-template-rows: auto 1fr;
    gap:1em;
}

.sidebarcontainer {
    display:grid;
    grid-template-rows: 1fr;
    padding: 0 20px;
}

.sidebarcontainer > .information {
    display:grid;
    grid-template-rows: repeat(3,1fr);
    padding:15px;
    gap:15px;
}

.contacts {
    display:grid;
    grid-template-rows: repeat(4,1fr);
    padding:15px;
    gap:15px;
}

.info:not(:last-child),
.contact:not(:last-child)  {
    border-bottom:2px solid white;
}

/* styling */
@font-face {
    font-family: "Gotham";
    src: url('fonts/GothamMedium.ttf');
    font-weight:normal;
    font-style:normal;
}

html {
    font-family: 'Gotham';
}

img {
    height:1em;
}

.sidebar > div > div {
    display:flex;
    align-items: center;
}

body {
    margin:0;
}

/* Styling */

/* Sidebar */

.sidebar > .second img,
.sidebar > .third img {
    height:1.5em;
}

.first img {
    height:3em;
}

.sidebar > .second,
.sidebar > .third {
    font-size:20px;
    font-weight:600;
}

.first {
    font-size:25px;
    font-weight:700;
}

.sidebar { 
    background-color: rgba(96,99,104,255);
    color: rgba(18,18,18,255);
}


/* Header */

input {
    border:none;
    background-color: lightgray;
    border-radius:10px; 
    padding:0.75em;
}

.searchbar img {
    height:1.5em;
}

.status > .profilepicture img {
    height:3.5em;
}

.header {
    background-color:rgba(29,29,29,255);
    color:white;
}

.profile > .profilepicture img {
    height:2em;
}

.greeting1 {
    font-size:15px;
    margin-bottom:10px;
}

.greeting2 {
    font-size:26px;
    font-weight:900;
}

.profilename {
    font-weight:900;
}

/* Right sidebar */

.sidebarcontainer {
    border-radius: 8px;
    border:1px solid black;
    background-color:rgba(29,29,29,255);
}

button {
    padding:10px;
    background-color: rgba(187,134,252,255);
    border-radius: 60px;
    border:none;
    color:white;
    font-weight: 900;
}

.profile img {
    height: 1.5em;
}

/* Content */

.cards > .card {
    border-radius: 8px;
    border: 1px solid black;
    border-left: 10px solid rgba(187,134,252,255);
    background-color: rgba(29,29,29,255);
}

img {
    fill:white; 
}

.content {
    background-color:rgba(18,18,18,255);
    color:white;    
}