/* create grid */
.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
    height:100vh;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
}

.header {
    grid-row:1;
}

.sidebar,
.header,
.content {
    border:1px solid black;
}

/* create grid within sidebar */

.sidebar {
    display:grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:2rem;
}

.first > div,
.sidebar > .second > div, 
.sidebar > .third > div {
    margin: 0.5rem;
}

/* create grid within header */

.header {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1.5fr;
}

.searchbar {
    grid-column: 1/3;
    grid-row:1;
}

.profile {
    grid-column: 3;
    grid-row:1;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:0.5rem;
}

.status {
    grid-column: 1/3;
    grid-row: 2;
}

.tabs {
    grid-column: 3;
    grid-row: 2;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

/* create grid for content */

.content {
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.cards {
    display:grid;
    grid-template-rows: 1em auto;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.title {
    grid-column: 1/-1;
    grid-row:1;
}

.cards > .card {
    border: 2px solid black;
    height: 12em;
}

.right-sidebars {
  display:grid;
  grid-template-rows:1fr 1fr;
}

.announcements > .information,
.trending > .contacts {
    display:grid;
    height:90%;
    grid-template-rows: repeat(auto-fit,1fr);
}

.information > .card,
.contact {
    border: 1px solid black;
}

/* styling */

